<a href="https://colab.research.google.com/github/jorloicono/AF-BIGDATA-PYTHON/blob/main/PR%C3%81CTICAS/SESION1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ELEMENTOS SINTÁCTICOS DEL LENGUAJE

In [10]:
A=3
B='casa'
C = ' grande'
D= 9.234
E=True

print(B+C)

print(type(B))
print(type(D))
print(type(E))

casa grande
<class 'str'>
<class 'float'>
<class 'bool'>

In [16]:
sumando1 = input("Introduzca el primer sumando: ")
sumando2 = input("Introduzca el segundo sumando: ")


print("Resultado: ", int(sumando1) + int(sumando2))

Introduzca el primer sumando: 2
Introduzca el segundo sumando: 3
Resultado:  5

In [12]:
sumando1 = float(input("Introduzca el primer sumando: "))
sumando2 = float(input("Introduzca el segundo sumando: "))


print("Resultado: ", sumando1 + sumando2)

Introduzca el primer sumando: 5.435
Introduzca el segundo sumando: 2.234534
Resultado:  7.669534

In [21]:
print("Juan", "Jose", "Pedro", "Antonio", sep = ', ', end = '.')

Juan, Jose, Pedro, Antonio.

In [38]:
texto = "Curso de Python"

print(texto.capitalize())
print(texto.isalpha())
print(texto.upper())
print(texto.lower())
print(texto.islower())

print(len(texto))
print(max(texto))
print(min(texto))

print(texto.replace('e','E'))
print(texto.split())

print("22/11/2022".split('/'))
datos= "22/11/2022".split('/')
dia = datos[0]
mes = datos[1]
año = datos[2]
print(dia)

Curso de python
False
CURSO DE PYTHON
curso de python
False
15
y

Curso dE Python
['Curso', 'de', 'Python']
['22', '11', '2022']
22

In [40]:
numero1 = 2
numero2 = 3

print(numero1 + numero2)

print(numero1 % numero2)

print(numero1 // numero2)

numero1 = numero1 + 1
numero1 += 1

print(numero1)

5
2
0
4

In [42]:
numero1 = 7
numero2 = 5

print("Menor:", numero1 < numero2)
print("Igual:", numero1 == numero2)
print("Diferente:", numero1 != numero2)

print("not:", not(numero1 < numero2))
print("and:", (numero1 < numero2) and (numero2 == 5))
print("or:", (numero1 < numero2) or (numero2 == 5))

Menor: False
Igual: False
Diferente: True
not: True
and: False
or: True

In [44]:
num1 = 6
num2 = 6
print("Mismo contenido?", num1 is num2) # True porque la variable contiene el numero

nombres1 = ['Juan', 'Maria']
nombres2 = ['Juan', 'Maria']
print("Mismo contenido?", nombres1 is nombres2) # False porque los objetos son diferentes

name1 = 'Jorge'
name2 = 'Jorge'
print("Mismo contenido?", name1 is name2) # True porque los str en Python son tipos basicos

print("in", 'Luis' in nombres1)
print("in", 'Maria' in nombres1)
print("not in", 'Luis' not in nombres1)

Mismo contenido? True
Mismo contenido? False
Mismo contenido? True
in False
in True
not in True

In [47]:
numero = int(input("Introduce un numero entre 1 y el 10: "))

if numero < 1 : 
  print("El numero no puede ser menor que 1")
else: 
  if numero > 10 :
    print("El numero no puede ser mayor que 10")
  else : 
    print("Bien!")

Introduce un numero entre 1 y el 10: 5
Bien!

In [50]:
numero = int(input("Introduce un numero entre 1 y el 10: "))

if numero < 1 : 
  print("El numero no puede ser menor que 1")
elif numero > 30 :
  print("El numero no puede ser mayor que 10. Te has pasado por mucho!!!")
elif numero > 10 :
  print("El numero no puede ser mayor que 10")
else : 
  print("Bien!")

Introduce un numero entre 1 y el 10: 67
El numero no puede ser mayor que 10. Te has pasado por mucho!!!

In [55]:
nombres = ["Luis", "Jorge", "Maria", "Laura", "Pedro"]

for item in nombres :
    print(item)
print("------------  FIN ----------")

for numero in range(10): # Rango va de 0 al numero-1
    print(numero)
print("------------  FIN ----------")

for numero in range(1,11): 
    print(numero)
print("------------  FIN ----------")
for numero in range(0, 10, 2): 
    print(numero)
print("------------  FIN ----------")
for i in range(len(nombres)): 
    print(nombres[i])
print("------------  FIN ----------")

Luis
Jorge
Maria
Laura
Pedro
------------  FIN ----------
0
1
2
3
4
5
6
7
8
9
------------  FIN ----------
1
2
3
4
5
6
7
8
9
10
------------  FIN ----------
0
2
4
6
8
------------  FIN ----------
Luis
Jorge
Maria
Laura
Pedro
------------  FIN ----------

In [56]:
for tabla in range(10,0,-1):
  print("**** Tabla del ", tabla, " ****")
  for num in range(1,11):
    print(tabla,"*",num,"=",tabla*num)
  print()

**** Tabla del  10  ****
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**** Tabla del  9  ****
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**** Tabla del  8  ****
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

**** Tabla del  7  ****
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

**** Tabla del  6  ****
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

**** Tabla del  5  ****
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**** Tabla del  4  ****
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

**** Tabla del  3  ****
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

**** Tabla del  2  ****
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

**** Tabla del  1  ****
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [58]:
num = 1
while num <= 10 :
    print(num)
    num += 1
print("--------  FIN -------")

# recorrer la coleccion
nombres = ["Luis", "Jorge", "Maria", "Laura", "Pedro"]
i = 0
while i < len(nombres):
    print(nombres[i])
    i += 1
print("--------  FIN -------")

1
2
3
4
5
6
7
8
9
10
--------  FIN -------
Luis
Jorge
Maria
Laura
Pedro
--------  FIN -------

EJERCICIO 1: 

Calcular los 50 primeros terminos de la serie de Fibonacci 0 1 1 2 3 5 8 13 ...

EJERCICIO 2: 

Solicitar la contraseña al usuario hasta que acierte que es curso. Solo tiene 3 intentos