<a href="https://colab.research.google.com/github/jorloicono/AF-BIGDATA-PYTHON/blob/main/PR%C3%81CTICAS/PYTHON/SESION-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCIONES LAMBDA

In [ ]:
def suma(a,b):
  return a+b

sumar = lambda a,b : a + b

suma(2,3)
sumar(2,3)

(lambda a,b : a + b)(4,5)

9

In [ ]:
(lambda *args: sum(args))(1,2,3,2,1)

(lambda **kwargs: sum(kwargs.values()))(a=1, b=2,c=3)

6

In [ ]:
numeros = [3,8,4,2,1]
numerosdobles = list(map(lambda numero: numero*2, numeros))
print(numerosdobles)

alumnos = dict(Luis=8, Maria=9, Raul=7)
nuevasnotas = dict(map(lambda item: (item[0],item[1]+ 1), alumnos.items()))
print(nuevasnotas)

[6, 16, 8, 4, 2]
{'Luis': 9, 'Maria': 10, 'Raul': 8}

In [ ]:
numeros = [2,4,3,2,1,6,7]
numerospares = list(filter(lambda numero: numero%2 == 0, numeros))
print(numerospares)

alumnos = dict(Luis=8, Maria=9, Raul=7)
menosdeocho = dict(filter(lambda item: item[1]<8, alumnos.items()))
print(menosdeocho)

[2, 4, 2, 6]
{'Raul': 7}

In [ ]:
from functools import reduce 

numeros = [3,4,2,1,3,4]
print("Suma: ", reduce(lambda resultado, num: resultado + num,numeros))


colores = ['rojo', 'verde', 'azul']
print(reduce(lambda resultado, color: resultado + "-" + color,colores))

Suma:  17
rojo-verde-azul



Dada una lista de personas almacenadas en diccionarios:

- Filtrar de acuerdo al sexo
- Y calcular la media de las edades

In [ ]:
personas = [
    {"Nombre": "Jorge", "Edad":23, "Sexo": "H"},
    {"Nombre": "Jorge", "Edad":24, "Sexo": "M"},
    {"Nombre": "Jorge", "Edad":25, "Sexo": "H"},
    {"Nombre": "Jorge", "Edad":26, "Sexo": "M"}]

Mujeres = list(filter(lambda x: x["Sexo"] == "M", personas))
Suma = reduce(lambda suma, p: suma + p["Edad"], Mujeres,0)

Media = Suma / len(Mujeres)

print(Media)

Media_edades = reduce(lambda suma,p: suma + p["Edad"], list(filter(lambda x: x["Sexo"] == "M", personas)),0)/len(list(filter(lambda x: x["Sexo"] == "M", personas)))
print(Media_edades)

25.0
25.0

EJERCICIO 1: 

Utilizar la función incorporada map() para crear una función que retorne una lista con la longitud de cada palabra (separas por espacios) de una frase. La función recibe una cadena de texto y retornara una lista.

EJERCICIO 2: 

Crear una función que tome una lista de dígitos y devuelva al número al que corresponden. Por ejemplo [1,2,3] corresponde a el numero ciento veintitrés (123). Utilizar la función reduce.

EJERCICIO 3: 

Crear una función que retorne las palabras de una lista de palabras que comience con una letra en especifico. Utilizar la función filter.

In [ ]:
def longitudpalabras(frase):
  longitudes = list(map(len, frase.split()))
  return longitudes

longitudpalabras("Hola, que tal estas")

def digitosanumeros(digitos):
  return reduce(lambda x,y:x*10 + y, digitos)

digitosanumeros([1,2,3,4,5])

# opcion 1
def list_palabraFiltrada(frase,letra):
    return list(filter(lambda palabra: palabra.lower()[0]==letra,frase.split()))
print(list_palabraFiltrada('Pepe es político','p'))

# opcion 2
def filtro_palabras(lista_palabras, letra):
    return list(filter(lambda word:word[0]==letra,lista_palabras))
    
filtro_palabras(['Perro', 'Gato', 'Pelota', 'Manzana', 'Libro', 'Python'], 'P')

['Pepe', 'político']

['Perro', 'Pelota', 'Python']

EXTRA FUNCIONES

In [ ]:
def suma(a: int , b: int ) -> int:
  return a + b

print(suma(3,4))
print(suma.__annotations__)

7
{'a': <class 'int'>, 'b': <class 'int'>, 'return': <class 'int'>}

In [ ]:
def decorador(funcion):
  def nueva_funcion(a,b):
    print("Llamando a la función")
    c = funcion(a,b)
    print("Función llamada")
    return c
  return nueva_funcion

@decorador
def suma(a: int , b: int ) -> int:
  return a + b

print(suma(3,4))

Llamando a la función
Función llamada
Gracias por usar la función
7

GESTIÓN DE ERRORES

In [ ]:
a=6
b= 0
if b != 0:
  print(a + b)
else: 
  print("No puedo dividir por 0!")

No puedo dividir por 0!

In [ ]:
try:
  #lista = [1,2,3,4]
  #print(lista[4])
  #c=5/0
  #d=2+"Hola"
  #e=9/9
  dict={"clave1": "valor1", "clave2":"valor2"}
  print(dict["clave3"])
except ZeroDivisionError:
  print("No puedo dividir por 0!")
except Exception as ex:
  print("Ha habido un error!", type(ex))
else : 
  print("El resultado es: " + str(e))
  print("Sin errores")
finally :
  print("Programa finalizado")

Ha habido un error! <class 'KeyError'>
Programa finalizado

BASES DE DATOS

In [ ]:
import sqlite3

conexion = sqlite3.connect("/content/tienda2.db")

cursor = conexion.cursor()

cursor.execute("CREATE TABLE PRODUCTOS (codigo INTEGER PRIMARY KEY, descripcion TEXT, precio REAL)")

In [ ]:
## INSERTAR DATOS

conexion = sqlite3.connect("/content/tienda2.db")

cursor = conexion.cursor()
cursor.execute("INSERT INTO PRODUCTOS VALUES (1, 'Pantalla', 90)")

lista = [(2,"Teclado",30), (3, "Impresora", 40), (4, "Raton", 10)]
sql = "INSERT INTO PRODUCTOS values (?,?,?)"

cursor.executemany(sql,lista)

conexion.commit()

In [ ]:
## CONSULTAS

cursor.execute("SELECT * FROM PRODUCTOS")
productos = cursor.fetchall()
for prod in productos:
  print(prod)

(1, 'Pantalla', 90.0)
(2, 'Teclado', 30.0)
(3, 'Impresora', 40.0)
(4, 'Raton', 10.0)

In [ ]:
cursor.execute("SELECT * FROM PRODUCTOS WHERE precio < 50 ORDER BY precio DESC")
productos = cursor.fetchall()
for prod in productos:
  print(prod)

(3, 'Impresora', 40.0)
(2, 'Teclado', 30.0)
(4, 'Raton', 10.0)

In [ ]:
cursor.execute("SELECT DESCRIPCION FROM PRODUCTOS WHERE DESCRIPCION LIKE 'R%' ")
productos = cursor.fetchall()
for prod in productos:
  print(prod)

('Raton',)

In [ ]:
cursor.execute("UPDATE PRODUCTOS SET precio = 100 WHERE descripcion = 'Impresora' ")

cursor.execute("DELETE FROM PRODUCTOS WHERE codigo = 1")

conexion.commit()

In [ ]:
cursor.execute("SELECT * FROM PRODUCTOS")
productos = cursor.fetchall()
for prod in productos:
  print(prod)

(2, 'Teclado', 30.0)
(3, 'Impresora', 100.0)
(4, 'Raton', 10.0)

In [ ]:
conexion.close()

In [ ]:
##ORACLE

import cx_Oracle

MÓDULOS

In [ ]:
import persona  

p1 = persona.Persona("Juan", 27)
p1.mostrarInfo()

Hola, me llamo Juan y tengo 27 años

In [ ]:
from persona import Persona
p2=Persona("Juan",27)
p2.mostrarInfo()

Hola, me llamo Juan y tengo 27 años

In [ ]:
from persona import Persona as P
p3 = P("Juan",29)
p3.mostrarInfo()

Hola, me llamo Juan y tengo 29 años

EJERCICIO 1: 

Crea el siguiente módulo:

- El módulo se denominará operaciones.py y contendrá 4 funciones para realizar una suma, una resta, un producto y una division entres dos números. Todas ellas devolverán el resultado.

- En las funciones del módulo deberá de haber tratamiento e invocación manual de errores para evitar que se quede bloqueada una funcionalidad, eso incluye:

  - TypeError: En caso de que se envíen valores a las funciones que no sean números. Además deberá aparecer un mensaje que informe Error: Tipo de dato no válido.

  - ZeroDivisionError: En caso de realizar una división por cero. Además deberá aparecer un mensaje que informe Error: No es posible dividir entre cero.

Una vez creado el módulo, crea un script calculos.py en el mismo directorio en el que deberás importar el módulo y realizar las siguientes instrucciones.

In [ ]:
from operaciones import * 

a, b, c, d = (10, 5, 0, "Hola")

print( "{} + {} = {}".format(a, b, suma(a, b) ) )
print( "{} - {} = {}".format(b, d, restar(b, d) ) )
print( "{} * {} = {}".format(b, b, multiplicar(b, b) ) ) 
print( "{} / {} = {}".format(a, c, dividir(a, c) ) )

Llamando a la función
Función llamada
Gracias por usar la función
10 + 5 = 15
Tipo de dato no válido
5 - Hola = None
5 * 5 = 25
No es posible dividir entre cero
10 / 0 = None

PANDAS

In [ ]:
import pandas as pd

data = ["Juan", "Pedro", "Lucia", "Jesus"]

serie = pd.Series(data, dtype = "string")

print(serie)

print(serie.size)
print(serie.index)

0     Juan
1    Pedro
2    Lucia
3    Jesus
dtype: string
4
RangeIndex(start=0, stop=4, step=1)

In [ ]:
print(serie[2])

serie = serie.apply(lambda nombre: nombre.upper())
print(serie)

serie = serie[(serie == "PEDRO") | (serie == "JUAN")]
print(serie)

Lucia
0     JUAN
1    PEDRO
2    LUCIA
3    JESUS
dtype: object
0     JUAN
1    PEDRO
dtype: object

In [ ]:
data = [["Juan", 6],["Jose", 8],["Luisa", 9],["Julian", 10]]

columnas = ["Nombre", "Nota"]
filas = list(range(4))

df = pd.DataFrame(data, columns= columnas, index = filas)
print(df)

   Nombre  Nota
0    Juan     6
1    Jose     8
2   Luisa     9
3  Julian    10

In [ ]:
print(df.info)
print(df.shape)
print(df.size)
print(df.columns)
print(df.head(2))

print(df.iloc[3,1])
print(df.iloc[3])
print(df["Nota"])

<bound method DataFrame.info of    Nombre  Nota
0    Juan     6
1    Jose     8
2   Luisa     9
3  Julian    10>
(4, 2)
8
Index(['Nombre', 'Nota'], dtype='object')
  Nombre  Nota
0   Juan     6
1   Jose     8
10
Nombre    Julian
Nota          10
Name: 3, dtype: object
0     6
1     8
2     9
3    10
Name: Nota, dtype: int64

In [ ]:
resultado = ['bien', 'notable', 'notable', 'sobresaliente']
df.insert(loc=2, column="Resultado", value=resultado)
print(df)

# Añadir una fila
data = [['Maria', 4.5, 'Suspenso'], ['Antonio', 8.9, 'Notable']]
columnasNombres = ['Nombre','Nota','Resultado']
filas = [0,1]

otro_df = pd.DataFrame(data, columns=columnasNombres, index=filas)
otro_df = df.append(otro_df, ignore_index=True)
print(otro_df)

print(otro_df.groupby('Resultado').count())

   Nombre  Nota      Resultado
0    Juan     6           bien
1    Jose     8        notable
2   Luisa     9        notable
3  Julian    10  sobresaliente
    Nombre  Nota      Resultado
0     Juan   6.0           bien
1     Jose   8.0        notable
2    Luisa   9.0        notable
3   Julian  10.0  sobresaliente
4    Maria   4.5       Suspenso
5  Antonio   8.9        Notable
               Nombre  Nota
Resultado
Notable             1     1
Suspenso            1     1
bien                1     1
notable             2     2
sobresaliente       1     1