<a href="https://colab.research.google.com/github/jorloicono/AF-BIGDATA-PYTHON/blob/main/PR%C3%81CTICAS/SESION-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ELEMENTOS SINTÁCTICOS DEL LENGUAJE

In [ ]:
A=3
B='casa'
C = ' grande'
D= 9.234
E=True

print(B+C)

print(type(B))
print(type(D))
print(type(E))

casa grande
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
sumando1 = input("Introduzca el primer sumando: ")
sumando2 = input("Introduzca el segundo sumando: ")


print("Resultado: ", int(sumando1) + int(sumando2))

Introduzca el primer sumando: 2
Introduzca el segundo sumando: 3
Resultado:  5

In [ ]:
sumando1 = float(input("Introduzca el primer sumando: "))
sumando2 = float(input("Introduzca el segundo sumando: "))


print("Resultado: ", sumando1 + sumando2)

Introduzca el primer sumando: 5.435
Introduzca el segundo sumando: 2.234534
Resultado:  7.669534

In [ ]:
print("Juan", "Jose", "Pedro", "Antonio", sep = ', ', end = '.')

Juan, Jose, Pedro, Antonio.

In [ ]:
texto = "Curso de Python"

print(texto.capitalize())
print(texto.isalpha())
print(texto.upper())
print(texto.lower())
print(texto.islower())

print(len(texto))
print(max(texto))
print(min(texto))

print(texto.replace('e','E'))
print(texto.split())

print("22/11/2022".split('/'))
datos= "22/11/2022".split('/')
dia = datos[0]
mes = datos[1]
año = datos[2]
print(dia)

Curso de python
False
CURSO DE PYTHON
curso de python
False
15
y

Curso dE Python
['Curso', 'de', 'Python']
['22', '11', '2022']
22

In [ ]:
numero1 = 2
numero2 = 3

print(numero1 + numero2)

print(numero1 % numero2)

print(numero1 // numero2)

numero1 = numero1 + 1
numero1 += 1

print(numero1)

5
2
0
4

In [ ]:
numero1 = 7
numero2 = 5

print("Menor:", numero1 < numero2)
print("Igual:", numero1 == numero2)
print("Diferente:", numero1 != numero2)

print("not:", not(numero1 < numero2))
print("and:", (numero1 < numero2) and (numero2 == 5))
print("or:", (numero1 < numero2) or (numero2 == 5))

Menor: False
Igual: False
Diferente: True
not: True
and: False
or: True

In [ ]:
num1 = 6
num2 = 6
print("Mismo contenido?", num1 is num2) # True porque la variable contiene el numero

nombres1 = ['Juan', 'Maria']
nombres2 = ['Juan', 'Maria']
print("Mismo contenido?", nombres1 is nombres2) # False porque los objetos son diferentes

name1 = 'Jorge'
name2 = 'Jorge'
print("Mismo contenido?", name1 is name2) # True porque los str en Python son tipos basicos

print("in", 'Luis' in nombres1)
print("in", 'Maria' in nombres1)
print("not in", 'Luis' not in nombres1)

Mismo contenido? True
Mismo contenido? False
Mismo contenido? True
in False
in True
not in True

In [ ]:
numero = int(input("Introduce un numero entre 1 y el 10: "))

if numero < 1 : 
  print("El numero no puede ser menor que 1")
else: 
  if numero > 10 :
    print("El numero no puede ser mayor que 10")
  else : 
    print("Bien!")

Introduce un numero entre 1 y el 10: 5
Bien!

In [ ]:
numero = int(input("Introduce un numero entre 1 y el 10: "))

if numero < 1 : 
  print("El numero no puede ser menor que 1")
elif numero > 30 :
  print("El numero no puede ser mayor que 10. Te has pasado por mucho!!!")
elif numero > 10 :
  print("El numero no puede ser mayor que 10")
else : 
  print("Bien!")

Introduce un numero entre 1 y el 10: 67
El numero no puede ser mayor que 10. Te has pasado por mucho!!!

In [ ]:
nombres = ["Luis", "Jorge", "Maria", "Laura", "Pedro"]

for item in nombres :
    print(item)
print("------------  FIN ----------")

for numero in range(10): # Rango va de 0 al numero-1
    print(numero)
print("------------  FIN ----------")

for numero in range(1,11): 
    print(numero)
print("------------  FIN ----------")
for numero in range(0, 10, 2): 
    print(numero)
print("------------  FIN ----------")
for i in range(len(nombres)): 
    print(nombres[i])
print("------------  FIN ----------")

Luis
Jorge
Maria
Laura
Pedro
------------  FIN ----------
0
1
2
3
4
5
6
7
8
9
------------  FIN ----------
1
2
3
4
5
6
7
8
9
10
------------  FIN ----------
0
2
4
6
8
------------  FIN ----------
Luis
Jorge
Maria
Laura
Pedro
------------  FIN ----------

In [ ]:
for tabla in range(10,0,-1):
  print("**** Tabla del ", tabla, " ****")
  for num in range(1,11):
    print(tabla,"*",num,"=",tabla*num)
  print()

**** Tabla del  10  ****
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**** Tabla del  9  ****
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**** Tabla del  8  ****
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

**** Tabla del  7  ****
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

**** Tabla del  6  ****
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

**** Tabla del  5  ****
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

**** Tabla del  4  ****
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

**** Tabla del  3  ****
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

**** Tabla del  2  ****
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

**** Tabla del  1  ****
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [ ]:
num = 1
while num <= 10 :
    print(num)
    num += 1
print("--------  FIN -------")

# recorrer la coleccion
nombres = ["Luis", "Jorge", "Maria", "Laura", "Pedro"]
i = 0
while i < len(nombres):
    print(nombres[i])
    i += 1
print("--------  FIN -------")

1
2
3
4
5
6
7
8
9
10
--------  FIN -------
Luis
Jorge
Maria
Laura
Pedro
--------  FIN -------

EJERCICIO 1: 

Calcular los 50 primeros terminos de la serie de Fibonacci 0 1 1 2 3 5 8 13 ...

EJERCICIO 2: 

Solicitar la contraseña al usuario hasta que acierte que es curso. Solo tiene 3 intentos

In [ ]:
num1, num2 = 0, 1
contador = 2
print(num1)

while (contador <= 50) :
    print(num2)
    num1 = num2
    num2 = num1 + num2
    contador += 1
print("---------- FIN ---------")

0
1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768
65536
131072
262144
524288
1048576
2097152
4194304
8388608
16777216
33554432
67108864
134217728
268435456
536870912
1073741824
2147483648
4294967296
8589934592
17179869184
34359738368
68719476736
137438953472
274877906944
549755813888
1099511627776
2199023255552
4398046511104
8796093022208
17592186044416
35184372088832
70368744177664
140737488355328
281474976710656
---------- FIN ---------

In [ ]:
# Version 1
'''
pw = ""
intentos = 3
while pw != "curso" :
    pw = input("Introduce pw: ")
    intentos -= 1
    if intentos == 0 :
        print("Se agotaron tus oportunidades")
        break  # Damos por terminado el bucle
    
if pw == "curso" :
    print("Has acertado")
'''
    
# Version 2
'''
intentos = 0
while intentos < 3 :
    pw = input("Introduce pw: ")
    if pw == "curso" :
        print("Has acertado")
        break
    else:
        print("Incorrecta")
    intentos += 1
'''


# Version 3
password = "curso"
for intento in range(3) :
    pw = input("Introduce pw: ")
    if pw == password :
        print("Has acertado")
        break
    else :
        print("Contraseña incorrecta. Le quedan", 2-intento, "intentos")

In [1]:
for num in range(11) :
    if num % 2 != 0 :
        continue
    print(num)

0
2
4
6
8
10

FUNCIONES

In [9]:
def saludar(nombre):
    print("Hola", nombre, "que bien que es martes")
    
def despedir() :
    return "Adios, nos vemos el lunes"

saludar("Jose")

print(despedir())

Hola Jose que bien que es martes
Adios, nos vemos el lunes

In [13]:
def procesarTexto(texto):
  mayusculas = texto.upper()
  minusculas = texto.lower()
  longitud = len(texto)
  return mayusculas, minusculas, longitud

txtmayusculas, txtminusculas, txtlongitud = procesarTexto("Hola, buenos dias!")

print(txtlongitud)
print(txtmayusculas)
print(txtminusculas)

lista = procesarTexto("Hola, buenos dias!")
print(lista)

18
HOLA, BUENOS DIAS!
hola, buenos dias!
('HOLA, BUENOS DIAS!', 'hola, buenos dias!', 18)

In [41]:
def datosTrabajador(nombre, estadoCivil="Casado", sueldo=20000):
  return nombre + " está " + estadoCivil + " y gana " + str(sueldo)

print(datosTrabajador("Juan"))
print(datosTrabajador("Juan","" ,90000))
print(datosTrabajador("Juan","Casado", 30000))
print(datosTrabajador("Juan", sueldo=30000))

Juan está Casado y gana 20000
Juan está  y gana 90000
Juan está Casado y gana 30000
Juan está Casado y gana 30000

In [36]:
def sumar(nombres,*numeros):
  suma=0
  for num in numeros:
    suma += num
  return nombres, suma

print(sumar("jose"))

('jose', 0)

EJERCICIO 1: 

Crear una funcion que recibe el nombre y las notas y calcular la nota media la funcion retorna el nombre en mayusculas y la nota media.

EJERCICIO 2: 

Realiza una función llamada relacion(a, b) que a partir de dos números cumpla lo siguiente:

    - Si el primer número es mayor que el segundo, debe devolver 1.
    - Si el primer número es menor que el segundo, debe devolver -1.
    - Si ambos números son iguales, debe devolver un 0.

Comprueba la relación entre los números: '5 y 10', '10 y 5' y '5 y 5'.

In [48]:
def procesarNotas(nombre, *notas) :
    suma=0   
    for num in notas:
      suma += num
    if suma == 0:
      notaMedia=0
    else:
      notaMedia = suma / len(notas)
    return nombre.upper(), notaMedia


print(procesarNotas("Juan"))

('JUAN', 0)

In [50]:
def relacion(a,b):
  
  if (a>b):
    resultado = 1

  elif (a<b):
    resultado = -1

  else:
    resultado = 0

  return resultado

print(relacion(5,10))
print(relacion(10,5))
print(relacion(5,5))

-1
1
0

COLECCIONES

In [88]:
colores = ['rojo', ('rosa', 'verde'), 'azul']

print(colores)
print(colores[1])
del colores[2]
print(colores)

mascolores = ['blanco', 'negro', 'rosa', 'azul']

lista = colores + mascolores
print(lista)

lista.remove('rosa')
print(lista)

lista.append('naranja')
print(lista)

lista.insert(0,'marron')
print(lista)

print(lista.count('verde'))

print(lista[-1])
print(lista[-3])
print(lista[-3:])
print(lista[:])

print(lista[2:4])

pc = ["ordenador", "teclado", ["tarjeta de sonido", "microfono", ["altavoz externo", "altavoz interno"]]]

print(pc[2][2][1])

coloresextra = ['rojo', ('rosa', 'verde'), 'azul']

coloresextra[1][0] = 'naranja'

print(coloresextra)

['rojo', ('rosa', 'verde'), 'azul']
('rosa', 'verde')
['rojo', ('rosa', 'verde')]
['rojo', ('rosa', 'verde'), 'blanco', 'negro', 'rosa', 'azul']
['rojo', ('rosa', 'verde'), 'blanco', 'negro', 'azul']
['rojo', ('rosa', 'verde'), 'blanco', 'negro', 'azul', 'naranja']
['marron', 'rojo', ('rosa', 'verde'), 'blanco', 'negro', 'azul', 'naranja']
0
naranja
negro
['negro', 'azul', 'naranja']
['marron', 'rojo', ('rosa', 'verde'), 'blanco', 'negro', 'azul', 'naranja']
[('rosa', 'verde'), 'blanco']
altavoz interno

TypeError: ignored

In [84]:
dias = ("lunes", ["martes", "mar"], "miercoles", "jueves", "viernes", "sabado", "domingo")

print(dias)

#for dia in dias:
#  print(dia)

print(dias[2])

#del dias[0]

# tupla2 = dias + ("sabado")

numeros = (1,2,3,4,5)

tupla2 = numeros + dias

print(tupla2)

# dias[0] = "lun"

('lunes', ['martes', 'mar'], 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')
miercoles
(1, 2, 3, 4, 5, 'lunes', ['martes', 'mar'], 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')

In [101]:
frutas = {'manzana','pera','naranja','pera','platano'}

print(frutas)

print('pera' in frutas)

frutas.add('fresas')
frutas.remove('platano')

frutas.add('fresas')
print(frutas)

frutas.remove('fresas')
print(frutas)

# print(frutas[0])

numeros1 = {1,2,3,4,5,6,7,8,9}
numeros2 = {0,2,4,6,8,10}

print(numeros1.intersection(numeros2))

print(numeros1.difference(numeros2))

print(numeros2.difference(numeros1))

print(numeros1.symmetric_difference(numeros2))

print(numeros1.union(numeros2))

color = set(colores)
print(color)

{'platano', 'naranja', 'manzana', 'pera'}
True
{'manzana', 'fresas', 'naranja', 'pera'}
{'manzana', 'naranja', 'pera'}
{8, 2, 4, 6}
{1, 3, 5, 7, 9}
{0, 10}
{0, 1, 3, 5, 7, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{('rosa', 'verde'), 'rojo'}

In [111]:
alumnos = {"Juan":[2,3,6], "Maria": 8.3, "Luis": 6.4, "Adolfo":7.1, "Maria":9.3}
print(type(alumnos))
print(alumnos)

print(alumnos.keys())
print(alumnos.values())

print(alumnos['Luis'])

alumnos['Pedro']=6.2

diction = dict(Luis=9,Jose=8,Pedro=6)

print("Maria" in alumnos)

del alumnos['Adolfo']

print(alumnos['Juan'][0])

<class 'dict'>
{'Juan': [2, 3, 6], 'Maria': 9.3, 'Luis': 6.4, 'Adolfo': 7.1}
dict_keys(['Juan', 'Maria', 'Luis', 'Adolfo'])
dict_values([[2, 3, 6], 9.3, 6.4, 7.1])
6.4
True
2